.container{

margin-left: 20px;
margin-top:0px;

}
body{
font-family: 'Old Standard TT', serif;
margin-left:5%;
margin-right:5%;
background-repeat:no-repeat;
background-size:cover;
height:75%;
box-shadow: 5px 10px 18px #888888;
background: rgba(226,226,226,1);
color:white;

}
.logo{
margin-top: 0px;
float:right;
}
.panel{

background: rgba(98,125,77,1);
}
.panel-body{
color:black;
background: rgba(226,226,226,1);
}
a{
color:blue;
}

.title{
margin-left:40%;
font-size:30px;

}

.table{
counter-reset: rowNumber;
}


table tr td:first-child::before {
  content: counter(rowNumber);
  counter-increment: rowNumber;
  min-width: 1em;
  margin-right: 0.5em;
}