{{#partial "content"}}

{{#if article}}
    {{each article}}

    <div class="card">

        <div class="card-body">

            {{content}}


        </div>


    </div>

    {{/if}}




{{/partial}}

{{> layout.hbs}}