{{#partial "content"}}

    <div class="row">
        <div class="column col-md-9" id="dashboard">
            <h3>Dashboard</h3>

            <div class="card-deck">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Daily Access Report</div>
                    <div class="card-body">
                        <h5 class="card-title">Daily Access Report</h5>
                        <p class="card-text">Click to access the daily access report here.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Monthly Access Report</div>
                    <div class="card-body">
                        <h5 class="card-title">Monthly Access Report</h5>
                        <p class="card-text">Click to access the monthly access report here.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header">Rejected Access</div>
                    <div class="card-body">
                        <h5 class="card-title">Rejected access report</h5>
                        <p class="card-text">Click to access the rejected access report here.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>

            <div class="card-deck">
                <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header">Visitors per company</div>
                    <div class="card-body">
                        <h5 class="card-title">Visitors by company</h5>
                        <p class="card-text">Click to access the visitors by company report here.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Whole report</div>
                    <div class="card-body">
                        <h5 class="card-title">Report of all access requests</h5>
                        <p class="card-text">SClick to access a report of all accesses requested here.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>


        </div>
    </div>

{{/partial}}

{{> layout.hbs}}