{{#partial "content"}}

    <p> List of Field Operation Engineers</p>

    {{#if categories}}
        {{#each categories }}
            <p><a href="/categories/{{id}}">{{name}}</a></p>
        {{/each}}
    {{else}}
        <p>No Records</p>
    {{/if}}
    {{name}}
{{/partial}}

{{> layout.hbs}}