{{#partial "content"}}

    <p> List of Field Operation Engineers</p>

    {{#if engineers}}
        {{#each engineers }}
            <p><a href="/engineers/{{id}}">{{name}}</a></p>
        {{/each}}
    {{else}}
        <p>No Records</p>
    {{/if}}
    {{name}}
{{/partial}}

{{> layout.hbs}}