{{#partial "content"}}
    <p> add subcourses</p>
    <form action="/subcourse/new"  method="post">
        <div class="form-group">
            <label for="name">NAME: </label>
            <input class="form-control" id="name" placeholder="Enter the coarse Name"  name="name" type="text" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class = "form-group">
        <label for="url">Insert the content this Coarse:</label>
        <select id="url" name="url" multiple>
                {{#each images}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
        </select>
        </div>
        <div class = "form-group">
            <label for="coarseid">Select coarses for this staff:</label>
            <select id="coarseid" name="coarseid">
                {{#each coarses}}
                    <option value="{{id}}">{{coarse_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember" required> I agree that information is valid
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Check this checkbox to submit.</div>
            </label>
        </div>
        <button type="submit" class="btn btn-success btn-sm">submit</button>
    </form>
{{/partial}}

{{> layout.hbs}}